---
layout: page
title: whoami
terminal_style: true
sidebar_link: true
---

<p>Hello there &#x1F44B;, I'm {{ site.author.name }}!</p>
<p>Moroccan, {{ '1996-11-08' | timeago | split: ' ' | first }}, INTP-T, self-taught security researcher, holding a SUPINFO Master&nbsp;of&nbsp;Science degree in Information&nbsp;Technology.</p>
<p>I enjoy learning about computers and electronic gadgets - what we already know they can do and what we don't - I like to spend time on x86, IoT, WebSec and Android.</p>
<p>Find me on:</p>
<p>
  <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener noreferrer">
    {% include svg/github.svg %} @{{ site.github_username }}
  </a>
  <br>
  <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="noopener">
    {% include svg/linkedin.svg %} @{{ site.linkedin_username }}
  </a>
</p>
