---
layout: page
title: whoami
sidebar_link: true
---

<script type="text/javascript">
  window.onload = function() {
      var ageDifMs = Date.now() - (new Date('1996-11-08')).getTime();
      var ageDate = new Date(ageDifMs);
      document.getElementById("age").innerText = Math.abs(ageDate.getUTCFullYear() - 1970);
  }
</script>

<br>
<p>Hello there, I'm {{ site.author.name }}!</p>
<p>Moroccan, <span id="age">born in 1996</span>, currently an IT student at SUPINFO, hopefully soon employed in the InfoSec field.</p>
<p>I enjoy learning about computers, what we already know they can do and what we don't - I like to spend time on x86, WebSec and Android.</p>
<p>Find me on:
  <p>
    <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener noreferrer">
      {% include svg/github.svg %} @{{ site.github_username }}
    </a>
    <br>
    <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="noopener">
      {% include svg/linkedin.svg %} @{{ site.linkedin_username }}
    </a>
  </p>
</p>
