$gray-1: #f9f9f9 !default;
$gray-2: #e5e5e5 !default;
$gray-3: #ccc !default;
$gray-4: #767676 !default;
$gray-5: #515151 !default;
$gray-6: #313131 !default;

$red: #ac4142 !default;
$orange: #d28445 !default;
$yellow: #f4bf75 !default;
$green: #90a959 !default;
$cyan: #75b5aa !default;
$blue: #268bd2 !default;
$brown: #8f5536 !default;

$root-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif !default;
$root-font-size: 1rem !default;
$root-line-height: 1.5 !default;

$body-color: $gray-3 !default;
$body-muted: #888888 !default;
$body-bg: #111 !default;
$link-color: #50b0ff !default;
$heading-color: white !default;

$border-color: $gray-6 !default;
$border-radius: 10px !default;
$padding-v: 1em !default;
$padding-h: 1.5em !default;
$heading-spacing: 1rem !default;
$section-spacing: 2rem !default;
$sidebar-width: 20rem !default;

$large-breakpoint: 55rem !default;
$large-font-size: 1.25rem !default;

$box-shadow-size: 1px !default;
$box-shadow-opacity: 0.16 !default;
$default-box-shadow: $box-shadow-size
                     $box-shadow-size
                     $box-shadow-size
                     rgba(0, 0, 0, $box-shadow-opacity);

$code-font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
$code-color: #90A0FF !default;
$code-background-color: #1B1B1B !default;

// Hyde theming
$sidebar-bg-color: #271B3A !default;
$sidebar-fg-color: white !default;
$sidebar-gradient: linear-gradient(to bottom, $sidebar-bg-color 30%, $body-bg 100%);
$sidebar-gradient-mobile:  linear-gradient(to right, $sidebar-bg-color 50%, $body-bg 100%);
$sidebar-sticky: true !default;
$layout-reverse: false !default;

$sidebar-title-color: $sidebar-fg-color !default;
$sidebar-link-color: $sidebar-fg-color !default;
$sidebar-text-color: rgba($sidebar-fg-color, 0.75) !default;
$sidebar-icon-color: rgba($sidebar-fg-color, 0.85) !default;
