<!-- Optional additional links to insert for icons links -->

{% if site.github_username %}
    <a id="github-link" class="icon" title="GitHub" aria-label="GitHub" href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener noreferrer">
        {% include svg/github.svg %}
    </a>
{% endif %}

{% if site.linkedin_username %}
    <a id="linkedin-link" class="icon" title="LinkedIn" aria-label="LinkedIn" href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="noopener noreferrer">
        {% include svg/linkedin.svg %}
    </a>
{% endif %}